@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(171, 197, 237);
}

.calculadora {
  height: 100%;
  background-color: #1F2537;
  margin: .25rem;
  border-radius: .75rem;
  display: flex;
  flex-direction: column;
}

.light .calculadora {
  background-color: #FFFFFF;
}

.calculadora--display {
  color: #EBEBED;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  margin-bottom: 1rem;
}

.light .calculadora--display {
  color: #2E2E2E;
}

.calculadora--display--input {
  word-wrap: break-word; /*word-break: break-all*/
  text-align: end;
}

.calculadora--botones {
  display: grid;
  grid-template-areas:
    "dividir multiplicar resta adicion"
    "siete ocho nueve borrar"
    "cuatro cinco seis signo-igual"
    "uno dos tres signo-igual"
    "cero cero decimal signo-igual";
  grid-gap: 1rem;
  background-color: #252B3E;
  border-radius: .5rem;
  padding: 1rem;
}

.light .calculadora--botones {
  background-color: #CFE1E7;
}

.adicion {
  grid-area: adicion;
}

.resta {
  grid-area: resta;
}

.multiplicar {
  grid-area: multiplicar;
}

.dividir {
  grid-area: dividir;
}

.siete {
  grid-area: siete;
}

.ocho {
  grid-area: ocho;
}

.nueve {
  grid-area: nueve;
}

.cuatro {
  grid-area: cuatro;
}

.cinco {
  grid-area: cinco;
}

.seis {
  grid-area: seis;
}

.uno {
  grid-area: uno;
}

.dos {
  grid-area: dos;
}

.tres {
  grid-area: tres;
}

.cero {
  grid-area: cero;
}

.decimal {
  grid-area: decimal;
}

.borrar {
  grid-area: borrar;
}

.signo-igual {
  grid-area: signo-igual;
}

/* botones */

button {
  color: #F6F6F7;
  font-size: 1.5rem;
  padding: .5rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-radius: .5rem;
  padding: 1.25rem 0;
}

.light button {
  color: #1F1F1F;
}

/* botones */

button:hover {
  background-color: #383f56;
}

.light button:hover {
  background-color: #b5ccd5;
}

button:active {
  background-color: #48516c;
}

.light button:active {
  background-color: #98b6c2;
}

.light .operadores,
.operadores {
  color: #E47D66;
}

.borrar {
  color: #44D86F;
}

.signo-igual {
  background-color: #3A4C7B;
}

.light .signo-igual {
  background-color: #1E1E1E;
  color: #E4E4E4;
}

.signo-igual:hover {
  background-color: #49699c;
}

.light .signo-igual:hover {
  background-color: #3f3f3f;
}

.signo-igual:active {
  background-color: #5279ae;
}

.light .signo-igual:active {
  background-color: #5d5d5d;
}

.switch {
  align-self: flex-start;
  margin: 1rem;
  padding: .5rem 1rem;
}

.brush {
  width: 1rem;
  height: 1rem;
}

/* media queries */

@media screen and (orientation:landscape) {

  .calculadora--botones {
    grid-template-areas:
    "siete ocho nueve multiplicar borrar"
    "cuatro cinco seis dividir signo-igual"
    "uno dos tres resta signo-igual"
    "cero cero decimal adicion signo-igual";
    grid-gap: .2rem;
  }

  .calculadora {
    height: 100%;
  }

  button {
    padding: .5rem 0;
  }
}


@media screen and (min-width:768px) {
  body {
    display: flex;
    justify-content: center;
    min-height: fit-content;
    max-height: 640px;
  }

  .calculadora {
    width: 22rem;
    margin-top: 1rem;
  }

  .calculadora--botones {
    grid-gap: 1rem;
  }

  button {
    padding: 1rem;
  }
}