/******************************************************
  reset
******************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************************
  general
******************************************************/
body {
  background-color: #282c34;
  color: #abb2bf;
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

.intro {
  max-width: 60%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.flex-column {
  flex-direction: column;
}

.code-snippet {
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 20px 68px rgba(0, 0, 0, 0.55);
/*   overflow: auto; */
  margin: 2rem 0.5rem;
  padding: 1rem;
  width: 100%;
  color: #69635D;
  background-color: #1E1E1E;
}

/* etiquetas <tag> */
.code-tag {
  color: #408DC7;
}

/* atributos de etiquetas */
.code-attribute {
  color: #749AAB;
}
/* string: cadenas de texto. Valores entre "" */
.code-string {
  color: #9F4E27;
}

/* comentarios <!-- comentario --> */
.code-comment {
  color: #658848;
}

/* numeros */
.code-number {
  color: #d19a66;
}

/* contenido */
.code-content {
  color: #C8C9C9;
}
