.box {
  display: flex;
  flex-direction: column;
  border: 10px solid #000;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  max-width: 480px;
  box-sizing: border-box;
}

.box-1 {
  min-width: 240px;
  background-color: #ff9e22;
}

.box-2 {
  background-color: #f186c0;
}
