* {
  margin: 0;
  padding: 0;
}

h1, em {
  margin: 20px;
  display: block;
}

.box {
  width: 200px;
  height: 200px;
  padding: 20px;
  border: 10px solid #000;
  margin: 20px;
  background-color: #b39afd;
}

.box-1 {
  box-sizing: border-box;
}

.box-2 {
  background-color: #ffc77d;
  box-sizing: content-box;
}

p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 2px auto;
}