* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************
  layout float
*******************************/

.content-side {
  float: right;
  background: #e0ffcd;
  height: 100vh;
  width: 25%;
  border: 10px solid #ffebbb;
}

.main-content {
  background: #fdffcd;
  height: 100vh;
  border: 10px solid #ffcab0;
  width: 75%;
}

p {
  margin: 24px;
}
