* {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

.container {
  border: 1px solid #888;
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.box {
  border-radius: 0.5rem;
  border: 1px dashed #444;
  display: flex;
  align-items: center; /* alineacion vertial */
  justify-content: center; /* alineacion horizonal */
}

.box-p {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
}

/* propiedades de las cajas */
.box-1 {
  background-color: #9765f4;
  height: 150px;
  width: 300px;
}

.box-2 {
  background-color: #f465c2;
  height: 100px;
  width: 300px;
}

.box-3 {
  background-color: #f49765;
  height: 200px;
  width: 100px;
}

/* flexbox */

.flex-container {
  display: flex;
  width: 100%;
}

.flex-container-wrap {
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.flex-container-column {
  flex-direction: column;
}

.flex-container-column-reverse {
  flex-direction: column-reverse;
}


.flex-container-center {
  justify-content: center;
}

.flex-container-between {
  justify-content: space-between;
}

.flex-container-around {
  justify-content: space-around;
}

.flex-container-evenly {
  justify-content: space-evenly;
}

.flex-container-align-end {
  align-items: flex-end;
}

.flex-pinterest {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: 33.33%;
}