.galeria {
  padding: .75rem;
  margin: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.miniaturas {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #555;
  border-radius: .5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  min-width: fit-content;
}

img {
  cursor: pointer;
  border-radius: .5rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  max-width: 100%;
}

.miniaturas img {
  margin: .5rem;
  max-width: 200px;
}

.imagen-grande {
  margin-top: 2rem;
  max-width: 640px;
}
