* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #222;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 2rem;
}

.container {
  padding: .5rem;
}

h1 {
  color: #8d34a8;
  margin-left: .5rem;
}

h2 {
  border-bottom: 1px solid #34a853;
  margin-bottom: .75rem;
  padding-bottom: .25rem;
}
/******************************************
 * grid
******************************************/

.grid {
  display: grid;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
  grid-template-columns: 70% auto;
  grid-template-rows: auto;

}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

/******************************************
 * header
******************************************/
header {
  padding: 1rem;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

/******************************************
 * sidebar
******************************************/

aside {
  padding: 1rem;
}

li {
  list-style: none;
}

.sidebar-link:link, .sidebar-link:visited {
  text-decoration: none;
  color: #4fa834;
  padding: .5rem;
  margin-bottom: 1rem;
  transition: all .25s ease-in-out;
}

.sidebar-link:focus {
  border: 1px dotted #8d34a8;
}

.sidebar-link:hover {
  border-radius: .25rem;
  background-color: #68b554;
  color: #fff;
}

.sidebar-link:active {
  background-color: #8d34a8;
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;;
}

/******************************************
 * social
******************************************/

.social {
  padding: .5rem;
  margin-top: 1rem;
}

.social ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.social-link:link, .social-link:visited {
  font-size: 1.6rem;
  transition: all .25s ease-in-out;
  color: #a8c259;
  border-radius: .25rem;
  padding: .5rem;
}

.social-link:focus {
  border: 1px dotted #8d34a8;
}

.social-link:hover {
  color: #45992c;
}

.social-link:active {
  color: #8d34a8;
}

/******************************************
 * box
******************************************/

.box {
  padding: .5rem;
  min-width: fit-content;
  overflow: auto;

}

.img-fluid {
  border-radius: .5rem;
  max-width: 100%;
  float: left;
  margin-right: 1rem;
}

p {
  margin: .5rem auto;
}