/***************************************************
 * General y reset
***************************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***************************************************
 * General y reset
***************************************************/

body {
  background-color: #eee;
  font-family: 'Geologica', sans-serif;
  font-size: 14px; /* fuente raíz  a partir de la cual calcular el rem*/
}


/***************************************************
 * Títulos
***************************************************/

h1, h2, h3 {
  font-weight: bolder;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem;
}

h2 {
  font-size: 2rem;
  margin: .5rem;
}

h3 {
  font-size: 1.5rem;
  margin: .2rem;
}

.title_bar {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  background: rgba(255, 255, 255, 0.25);
  /* aca va a ir un gradiente */
  border-radius: .5rem;
}

/***************************************************
 * Parrafos
***************************************************/

p {
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
}

li {
  list-style: none;
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

/***************************************************
 * Flexbox
***************************************************/

.container {
  display: flex; /* contenedor flexible: sus (hijos) items son flex-items */
  flex-direction: row; /* row | row-reverse | column | column-reverse*/
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid #212121;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px #37474f;
}

.container-large {
  min-width: fit-content;
  width: 100%;
}

.container-xl {
  width: fit-content;
  max-width: 80%;
}

/***************************************************
 * Flex items
***************************************************/

.flex-item {
  border: 1px solid #263238;
  border-radius: .4rem;
  box-shadow: 2px 2px 10px #37474f;
  margin: .8rem;
  padding: .8rem;
  font-size: 1.5rem;
  background: linear-gradient(45deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, 1));
  transition: all .3s ease-in-out;

  /* item flex que tambien es contenedor flex */
  display: flex;
  justify-content: center; /* eje principal (x) */
  align-items: center; /* eje transversal (y) */
}

.flex-item:hover {
  color: #eceff1;
  border: 1px solid rgba(255, 255, 255, .5);
  box-shadow: 2px 2px 10px #f3f3f3;
  font-size: 1.75rem;
  background: linear-gradient(45deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .6));
}

.flex-item-sm {
  width: 4rem;
  height: 4rem;
}

.flex-item-md {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
}

.flex-item-xsxl {
  width: 5rem;
  height: 8rem;
}

/***************************************************
 * Wrap
***************************************************/
.no_wrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.wrap_reverse {
  flex-wrap: wrap-reverse;
}

/***************************************************
 * Justify-content
***************************************************/

.justify_content_start {
  justify-content: flex-start;
}

.justify_content_end {
  justify-content: flex-end;
}

.justify_content_center {
  justify-content: center;
}

/***************************************************
 * Align-items
***************************************************/

.align_items_start {
  align-items: flex-start;
}

.align_items_end {
  align-items: flex-end;
}

.align_items_center {
  align-items: center;
}

/***************************************************
 * Gradientes
***************************************************/

.grad_1 {
  background: linear-gradient(45deg, #2196f3, #f44336);
}

.grad_2 {
  background: linear-gradient(30deg, #1cb5e0 30%, #000851 100%);
}

.grad_3 {
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
}

.grad_4 {
  background-image: linear-gradient(135deg, #81ff3f 10%, #f067b4 100%);
}
