/**************************************************
 * Generales
/**************************************************/

/* reset */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* google fonts global */
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.miniaturas img {
  margin: .5rem;
  width: 100px;
  cursor: pointer;
}

.vista {
  margin-left: 1.5rem;
  max-width: 480px;
}

#vista-img {
  max-width: 100%;
}