* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

/*******************************************
 * Grid
********************************************/

.grid {
  height: 600px;
  display: grid;
  grid-template-areas:
    "header header"
    "menu menu"
    "main sidebar"
    "footer footer";
  grid-template-columns: 70% 30%;
  grid-template-rows: 12% 8% 75% auto;
  background-color: limegreen;
  border: 1px solid #333;
  padding: 1rem;
}

.box {
  font-size: 2rem;
  font-weight: 900;
  border: 1px solid #444;
  background-color: #888;
  color: #f4f4f4;
  text-align: center;
  border-radius: .5rem;
}

.box-1 {
  background-color: rgb(33, 180, 131);
  grid-area: header;
}

.box-2 {
  background-color: coral;
  grid-area: menu;
}

.box-3 {
 background-color: darkseagreen;
 grid-area: main;
}

.box-4 {
  background-color: darkslateblue;
  grid-area: sidebar;
}

.box-5 {
  background-color: darkslategray;
  grid-area: footer;
}